*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-image: linear-gradient(-90deg, #5a507a, #621be6 );
}

.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid;
}
.navbar-nav{
       color: #fff !important;
       font-weight: 600;
       font-family:cursive;
       font-size: 18px;
    }
.form-control{
    height: 30px;
    width: 40px;}

    .btn{
        height: 30px;
        width:70px ;}
        .firstcontent{
            font-weight: 900;
            font-size: 50px;
            color:rgb(5, 3, 31) ;
            
        }
        .content1{
            color:rgb(5, 3, 31);
            font-weight:700 ;
            font-size: 30px;
        }
        .findcourse{
            width: 100%;
            height: auto;
            background-color: #0c0427;
        }
        .d-block{
            opacity: 0.8;
        }
        .third{
            width: 100%;
            height: auto;
        }
        .study{
            color: #a70b0b;
            font-family: cursive;
            font-weight: 900;
            font-size: 50;
            
        }
        .studycontent{
            font-size: 30;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
        }
        .footer{
            font-size: 40;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;

        }
@media only screen and (max-width: 800px)
{
    .nav-link:hover{
        border-bottom: none;
    }
    .collapsed-menu{
        background-color: #070707;
    }
    .navbar-nav{
        text-align: right !important;
    }
    .form-control{
        height: 30px;
        width: 10px;
    }
    .btn{
        height: 30px;
        width:70px ;
        
    }
    .d-block{
        height: fit-content;
    }
}
    
    
