*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/*styling of the container*/
.container{
    width: 400px;
    height: 400px;
    background-image:url(https://plus.unsplash.com/premium_photo-1661284825506-a684dccd5f3d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    
    
}
/*styling the ID Card*/
.card{
    background-color:#ff574a;
    text-align: center;
    padding: 50px 70px;
    color: #fff;
    position: relative;
    border-radius: 20px;

}
.card:hover{transform: skew(3deg,3deg);
}
/* styling the picture on the ID card*/
.photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
    margin-top: -300px;
    transition: height 3s , width 3s;
}
/* to transition picture on hover*/
.photo:hover{
    height: 140px;
    width: 140px;
}
